@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Chelsea+Market&family=Roboto+Mono&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

.navv {
  text-align: start;
  margin-top: 3%;
  position: relative;
  left: 33.7%;
  padding-bottom: 1.5%;
  width: 40%;
}
.navv a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  cursor: pointer;
  padding: 0 0.4%;
}
.headerr {
  background-color: #ce2829;
}

h2 {
  font-family: "Quattrocento", serif;
  margin: 0 auto;
  font-size: 40px;
  padding-top: 3.5%;
  font-weight: 100;
  text-align: center;
  color: white;
}
span {
  color: white;
}
